.box{
    padding: 100px 0px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.container-projetos{
    width: 100%;
    background-color: #000000;
}

.container-titulo{
    padding-top: 30px;
}

.container-titulo h2{
    color: #fff;
    font-size: 50px;
    text-align: center;
}

.container-cards{
    padding: 100px 0px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card{
    width: 330px;
    min-height: 300px;
    border-radius: 10px;
    padding: 2em 0em;
    text-align: center;
    background-color: #191919;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.card i{
    font-size: 40px;
    color: #ffb20a;
    padding: 10px 0px;
}

.card h5{
    color: #fff;
    font-size: 23px;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

.card p{
    width: 90%;
    height: 120px;
    color: #ffb20a;
    letter-spacing: 1px;
    line-height: 22px;
}

.card a{
    margin-top: 1em;
    margin-right: 5px;
    background-color: transparent;
    border: 2px solid #ffb20a;
    padding: 50px;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    cursor: pointer;
    color: white;
    display: inline-block;
    font-size: 1em;
}

.card a:hover{
    -xpedu-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}