*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-sobre{
    width: 100%;
    background-color: #080808;
    padding: 100px 0px;
    z-index: 10;
}

.container-foto{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.container-foto img{
    border-radius: 1em;
    height: auto;
    width: 450px;
}

.container-texto{
    width: 300px;
}

.container-texto h2{
    color: white;
    font-size: 50px;
    margin-bottom: 20px;
}

.container-texto h5{
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.container-texto span{
    padding-left: 3%;
    color: #ffb20a;
}

.container-texto p{
    color: #ffb20a;
    letter-spacing: 1px;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 40px;
    text-align: justify;
}